[Unit]
Description=wenet_ble
After=wenet_tx.service

[Service]
ExecStart=/home/pi/wenet_ble_scripts/start_ble.sh
Restart=always
RestartSec=30
# This one too!
WorkingDirectory=/home/pi/wenet_ble_scripts/

#User=pi
SyslogIdentifier=wenet_ble

[Install]
WantedBy=multi-user.target
